ul.nav{
  padding:0;
  margin:0;
  li{
    float:left;
    list-style-type: none;
    padding-top:8px;
    a{
      padding:0px 12px;
      text-decoration:none;
      color:$gray;
      font-family: $font-conditalic;
      &:hover{
        text-decoration: underline;
      }
    }
    &.active{
      a{
        color:$red;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
