/* FONTS */
$font-logo:'Buster LT W01';
$font-light:'Univers LT W01 45 Light';
$font-lightitalic:'UniversLTW10-45LightObl';
$font-roman:'Univers LT W01 55 Roman';
$font-romanitalic:'UniversLTW01-55Oblique';
$font-bold:'Univers LT W01 65 Bold';
$font-xbold:'UniversLTW01-85ExtraBla';
$font-cond:'UniversLTW10-47LightCn';
$font-conditalic:'UniversLTW01-47LightCnO';

/* COLOR */
$gray: #CFCFCF;
$gray-light: #EFEFEF;
$gray-dark:#515151;
$red:#EB5050;
$red-dark:#BA3030;
