<main-nav></main-nav>
<div class="project">
  <h2>PublicTones</h2>
  <img src="images/publictones.jpg" alt="PublicTones">
  <p><a href="http://www.publictones.com/" target="_blank">View the site</a></p>
  <p>A personnal project I had in mind for a while. I found the time to develop it last year. This project use NodeJS and Socket I/O and allow users to create youtube playlist and watch the video with their friends in realtime. Here is a list of the differents tools I used to develop this project:
    <ul>
      <li>Twitter Bootstrap</li>
      <li>NodeJS</li>
      <li>Express</li>
      <li>Socket I/O</li>
      <li>PassportJS</li>
      <li>Jade</li>
      <li>JQuery</li>
    </ul></p>
  <img src="images/publictones-screenshot.jpg" alt="PublicTones">
</div>
<div class="project">
  <h2>Josephine and Thibaut Wedding Website</h2>
  <img src="images/village.jpg" alt="Areches Village">
  <p><a href="http://www.josephineandthibaut.com/" target="_blank">View the site</a></p>
  <p>I'm getting married soon, and it will be in france, So I made a simple website to explain to my fellow american friends and future family member how to get there. This website has been developed with <a href="http://assemble.io/" target="_blank">assemble</a>. I also made a french version of the site: <a href="http://www.josephineetthibaut.com/" target="_blank">www.josephineetthibaut.com</a></p>
  <p>you can view <a href="https://github.com/thibautdelille/wedding" target="_blank">the sources of the site</a> on my <a href="https://github.com/thibautdelille" target="_blank">github</a></p>
</div>

<div class="project">
  <h2>Pokemon Black and White 2</h2>
  <img src="images/pokemon.jpg" alt="Pokemon Black and White">
  <p><a href="http://www.pokemonblackwhite.com/pokemon-black-and-white-2/#en-us/home" target="_blank">View the site</a></p>
  <p>After multiple successfull small projects for Pokemon, I got the chance to work on the <em>Pokemon Black and White 2</em> Website back in 2012. Pokemon came to us and let us free range of creativity for the project. Creative and Developers came up with a double parallax site that will confront the Black side to the White side.</p>
  <p>For this site I developed a custom Javascript frameworks based on JQuery. Here is a list of the different featured of the site:
    <ul>
      <li>XML Generated Site</li>
      <li>EFIGS Languages authored with XML</li>
      <li>Image Preloading</li>
      <li>Multi Directional Parallax System</li>
      <li>Deep Linking</li>
      <li>Agegate</li>
      <li>Page Transitions</li>
    </ul>
  </p>
  <h4>Prizes and nominations</h4>
    <ul>
    <li><a href="http://www.awwwards.com/best-websites/pokemon-black-version-2-and-white-version-2" target="_blank">Awwwards – Honorable Mention</a></li>
    <li><a href="http://cssbased.com/showcase/10179/pokemon-black-version-2" target="_blank">CSS Based – Showcase</a></li>
    <li><a href="http://www.thefwa.com/shortlist/pok-mon-black-white-2" target="_blank">The FWA – Public Shortlist</a></li>
    <li><a href="http://www.w3award.com/winners/list/?l=J&event=7&category=&award=S&form=2" target="_blank">W3 Awards – Silver</a></li>
    <li><a href="http://www.daveyawards.com/winners/gallery/" target="_blank">Davey Awards – 2 Golds and 1 Silver for Games Related</a></li>
    <li><a href="http://tomorrowawards.com/showcase_archive.php?showcase_id=736" target="_blank">Shortlisted for the Tomorrow Awards</a></li>
    </ul>
</div>

<div class="project">
  <h2>Pokedex 3d Pro</h2>
  <img src="images/pokedex.jpg" alt="Pokedex 3d Pro">
  <p><a href="http://www.pokedex3d.com/" target="_blank">View the site</a></p>
  <p>Our friends at Pokemon needed our help to create a website for the last version of the <em>Pokedex 3d Pro</em> game. The objective of this site was to create a semi 3d environment on the site. Not an Easy task when you have to support ie7. I developed a custom frontend frameworks based on JQuery that use a parallax systems to do the trick</p>
  <p>Like all the Pokemon site this site support 12 differents Languages, witch doesn't make the task easier ;)</p>
</div>
